# Tasks Live Class(Pandas Cls 2):

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r'F:\INEURON DATASCIENCE JOURNEY\PANDAS CLASS\CLASS 2\AgentLogingReport.csv', index_col='SL No')
df2 = pd.read_csv(r'F:\INEURON DATASCIENCE JOURNEY\PANDAS CLASS\CLASS 2\AgentPerformance.csv', index_col='SL No')

In [3]:
df1.head()

                    Agent       Date Login Time Logout Time  Duration
SL No
1      Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39  02:04:10
2          Khushboo Priya  30-Jul-22   15:06:59    15:07:16  00:00:17
3           Nandani Gupta  30-Jul-22   15:04:24    17:31:07  02:26:42
4         Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35  00:45:06
5                  Mukesh  30-Jul-22   14:03:15    15:11:52  01:08:36

In [4]:
df2.head()

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
SL No,,,,,,,
1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

In [5]:
df1.dtypes

Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

In [6]:
df2.dtypes

Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

### 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [7]:
df2['date']=pd.to_datetime(df2['Date'])

In [8]:
df2.head()

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date
SL No,,,,,,,,
1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30
2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30
3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30
4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30
5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30

In [9]:
df2['date_week']=df2['date'].dt.isocalendar().week

In [10]:
df2['date_days']=df2['date'].dt.day

In [18]:
df_mean=df2.groupby(['Agent Name','date_week'])['Average Rating'].mean().to_frame()

In [19]:
df_mean

                      Average Rating
Agent Name date_week
Abhishek   26               0.000000
           27               0.000000
           28               0.000000
           29               0.000000
           30               0.000000
...                              ...
Zeeshan    26               0.000000
           27               1.307143
           28               2.948571
           29               3.180000
           30               2.760000

[350 rows x 1 columns]

### 2 .Total working days for each agents

In [20]:
df1.groupby('Agent')['Date'].count()

Agent
Aditya Shinde               1
Aditya_iot                  9
Amersh                      4
Ameya Jain                 10
Ankitjha                    4
Anurag Tiwari              37
Aravind                    10
Ayushi Mishra              18
Bharath                     9
Boktiar Ahmed Bappy        17
Chaitra K Hiremath         13
Deepranjan Gupta           58
Dibyanshu                 208
Harikrishnan Shaji         23
Hrisikesh Neogi            37
Hyder Abbas                 2
Ineuron Intelligence        1
Ishawant Kumar             49
Jawala Prakash             16
Jaydeep Dixit              11
Khushboo Priya             18
Madhulika G                17
Mahesh Sarade              36
Maitry                      5
Manjunatha A                8
Mithun S                   14
Mukesh                      3
Muskan Garg                12
Nandani Gupta              11
Nishtha Jain               18
Nitin M                     1
Prabir Kumar Satapathy     26
Prateek _iot               17
Prerna Singh               18
Rishav Dash                12
Saikumarreddy N            10
Sanjeev Kumar              20
Saurabh Shukla             40
Shiva Srivastava           15
Shivan K                   36
Shivananda Sonwane         15
Shubham Sharma             35
Sowmiya Sivakumar          24
Sudhanshu Kumar            11
Suraj S Bilgi               5
Swati                       5
Tarun                       1
Wasim                      20
Zeeshan                    10
Name: Date, dtype: int64

### 3. Total query that you have taken

In [21]:
df2.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

### 4. total Feedback that you have received

In [22]:
df2.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

### 5. a agent name who have average rating between 3.5 to 4

In [23]:
df2[(df2['Average Rating']>=3.5) & (df2['Average Rating']<=4)]['Agent Name']

SL No
5                    Swati
11             Manjunatha A
74      Boktiar Ahmed Bappy
77            Prateek _iot
79            Nandani Gupta
               ...
1942         Jawala Prakash
2019          Sanjeev Kumar
2022          Aditya Shinde
2024       Deepranjan Gupta
2098          Sanjeev Kumar
Name: Agent Name, Length: 114, dtype: object

### 6 . Agent name who have rating less then 3.5

In [24]:
df2[(df2['Average Rating']<3.5)]['Agent Name']

SL No
2            Nandani Gupta
20        Hitesh Choudhary
21              Sanjeevan
22                Anirudh
23        Shiva Srivastava
               ...
2156     Sowmiya Sivakumar
2157               Nitin M
2158                Vivek
2159         Ayushi Mishra
2160    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

### 7 . agent name who have rating more then 4.5

In [25]:
df2[(df2['Average Rating']>4.5)]['Agent Name']

SL No
3               Ameya Jain
4            Mahesh Sarade
6                  Mukesh
7          Saikumarreddy N
8            Sanjeev Kumar
               ...
2101        Shubham Sharma
2102         Jaydeep Dixit
2103    Shivananda Sonwane
2104        Khushboo Priya
2105       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

### 8 . how many feedaback agents have received more then 4.5 average

In [26]:
(df2['Total Feedback'] > 4.5).sum()

621

### 9 . average weekly response time for each agent

In [27]:
def get_seconds(time_str):
    #print('Time in hh:mm:ss:', time_str)
    # split in hh, mm, ss
    hh, mm, ss = time_str.split(':')
    return int(hh) * 3600 + int(mm) * 60 + int(ss)

In [28]:
avg_response_sec=[]
for t in df2['Average Response Time']:
    avg_response_sec.append(get_seconds(t))
avg_response_sec
df2['avg_response_sec'] = avg_response_sec

In [29]:
df2.head()

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,avg_response_sec
SL No,,,,,,,,,,,
1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30,30,38
2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30,30,75
3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30,30,30
4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30,30,64
5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30,30,71

In [31]:
df2.groupby(['Agent Name'])['avg_response_sec'].mean()

Agent Name
Abhishek          0.000000
Aditya            0.000000
Aditya Shinde    29.733333
Aditya_iot       33.966667
Amersh            0.000000
                   ...
Uday Mishra       0.000000
Vasanth P         0.000000
Vivek            13.700000
Wasim            29.700000
Zeeshan          61.733333
Name: avg_response_sec, Length: 70, dtype: float64

### 10 . average weekely resolution time for each agents

In [33]:
avg_resolution_time_sec=[]
for t in df2['Average Resolution Time']:
    avg_resolution_time_sec.append(get_seconds(t))
avg_resolution_time_sec
df2['avg_resolution_time_sec'] = avg_resolution_time_sec

In [34]:
df2.head()

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,avg_response_sec,avg_resolution_time_sec
SL No,,,,,,,,,,,,
1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30,30,38,260
2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30,30,75,1705
3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30,30,30,696
4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30,30,64,946
5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30,30,71,993

In [35]:
df2.groupby(['Agent Name'])['avg_resolution_time_sec'].mean()

Agent Name
Abhishek           0.000000
Aditya             0.000000
Aditya Shinde    620.633333
Aditya_iot       589.300000
Amersh             0.000000
                    ...
Uday Mishra        0.000000
Vasanth P          0.000000
Vivek            152.766667
Wasim            688.866667
Zeeshan          645.066667
Name: avg_resolution_time_sec, Length: 70, dtype: float64

### 11 . list of all agents name

In [36]:
l = list(df2['Agent Name'])

In [37]:
l

['Prerna Singh',
 'Nandani Gupta',
 'Ameya Jain',
 'Mahesh Sarade',
 'Swati ',
 'Mukesh ',
 'Saikumarreddy N',
 'Sanjeev Kumar',
 'Shubham Sharma',
 'Nishtha Jain',
 'Manjunatha A',
 'Khushboo Priya',
 'Suraj S Bilgi',
 'Harikrishnan Shaji',
 'Hrisikesh Neogi',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Aditya_iot ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Wasim ',
 'Samprit ',
 'Maitry ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ankit Sharma',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Sandipan Saha',
 'Ineuron Intelligence ',
 'Mahak ',
 'Mukesh Rao ',
 'Zeeshan ',
 'Rishav Dash',
 'Anurag Tiwari',
 'Ankitjha ',
 'Saif Khan',
 'Jaydeep Dixit',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Ashish ',
 'Rohan ',
 'Vivek ',
 'Nitin M',
 'Shivan_S ',
 'Spuri ',
 'Ayushi Mishra',
 'Chaitra K Hiremath',
 'Prateek _iot ',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Zeeshan ',
 'Mukesh ',
 'Chaitra K Hiremath',
 'Suraj S Bilgi',
 'Shivan K',
 'Mithun S',
 'Rishav Dash',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Wasim ',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Khushboo Priya',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Ankitjha ',
 'Anurag Tiwari',
 'Saif Khan',
 'Ashish ',
 'Harikrishnan Shaji',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Saikumarreddy N',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Muskan Garg',
 'Deepranjan Gupta',
 'Aditya_iot ',
 'Prateek _iot ',
 'Shubham Sharma',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Saikumarreddy N',
 'Zeeshan ',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Khushboo Priya',
 'Wasim ',
 'Nishtha Jain',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Mithun S',
 'Prerna Singh',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Mahesh Sarade',
 'Madhulika G',
 'Sowmiya Sivakumar',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Prerna Singh',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Zeeshan ',
 'Ameya Jain',
 'Shubham Sharma',
 'Chaitra K Hiremath',
 'Ankitjha ',
 'Nishtha Jain',
 'Khushboo Priya',
 'Mithun S',
 'Wasim ',
 'Sowmiya Sivakumar',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Madhulika G',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Jaydeep Dixit',
 'Maitry ',
 'Shivananda Sonwane',
 'Ayushi Mishra',
 'Boktiar Ahmed Bappy',
 'Deepranjan Gupta',
 'Maitry ',
 'Shiva Srivastava',
 'Muskan Garg',
 'Ankitjha ',
 'Aditya_iot ',
 'Prateek _iot ',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Harikrishnan Shaji',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Khushboo Priya',
 'Hrisikesh Neogi',
 'Mithun S',
 'Madhulika G',
 'Wasim ',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Prateek _iot ',
 'Aditya_iot ',
 'Muskan Garg',
 'Ameya Jain',
 'Sanjeev Kumar',
 'Swati ',
 'Prerna Singh',
 'Shubham Sharma',
 'Zeeshan ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Shivan K',
 'Harikrishnan Shaji',
 'Rishav Dash',
 'Sowmiya Sivakumar',
 'Mithun S',
 'Manjunatha A',
 'Wasim ',
 'Bharath ',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Hyder Abbas',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Mahesh Sarade',
 'Madhulika G',
 'Jawala Prakash',
 'Maitry ',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Jaydeep Dixit',
 'Swati ',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Ameya Jain',
 'Aravind ',
 'Zeeshan ',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Shivan K',
 'Madhulika G',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Wasim ',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Harikrishnan Shaji',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Maitry ',
 'Shiva Srivastava',
 'Ayushi Mishra',
 'Maitry ',
 'Nandani Gupta',
 'Shubham Sharma',
 'Prerna Singh',
 'Swati ',
 'Ameya Jain',
 'Mahesh Sarade',
 'Aravind ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Shivan K',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Wasim ',
 'Deepranjan Gupta',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Bharath ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Zeeshan ',
 'Manjunatha A',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Aravind ',
 'Zeeshan ',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Wasim ',
 'Nishtha Jain',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Shivan K',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Harikrishnan Shaji',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Maitry ',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Aditya_iot ',
 'Prateek _iot ',
 'Deepranjan Gupta',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Zeeshan ',
 'Saikumarreddy N',
 'Wasim ',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Prabir Kumar Satapathy',
 'Rishav Dash',
 'Manjunatha A',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Nishtha Jain',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Mahesh Sarade',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Aditya_iot ',
 'Prateek _iot ',
 'Prerna Singh',
 'Hrisikesh Neogi',
 'Swati ',
 'Ameya Jain',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Zeeshan ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nandani Gupta',
 'Khushboo Priya',
 'Madhulika G',
 'Wasim ',
 'Manjunatha A',
 'Mithun S',
 'Bharath ',
 'Aravind ',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ayushi Mishra',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Maitry ',
 'Prateek _iot ',
 'Aditya_iot ',
 'Saikumarreddy N',
 'Prerna Singh',
 'Harikrishnan Shaji',
 'Nandani Gupta',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Jaydeep Dixit',
 'Aravind ',
 'Shivan K',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Rishav Dash',
 'Wasim ',
 'Hrisikesh Neogi',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Nishtha Jain',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Ameya Jain',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Rohan ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Chaitra K Hiremath',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Shivananda Sonwane',
 'Prateek _iot ',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Nandani Gupta',
 'Harikrishnan Shaji',
 'Aditya_iot ',
 'Sanjeev Kumar',
 'Zeeshan ',
 'Ameya Jain',
 'Rishav Dash',
 'Wasim ',
 'Shivan K',
 'Mithun S',
 'Bharath ',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Aravind ',
 'Maitry ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Saikumarreddy N',
 'Rohan ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Mahesh Sarade',
 'Vivek ',
 'Nitin M',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Manjunatha A',
 'Boktiar Ahmed Bappy',
 'Nishtha Jain',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Nishtha Jain',
 'Boktiar Ahmed Bappy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Saikumarreddy N',
 'Aravind ',
 'Wasim ',
 'Shivan K',
 'Nandani Gupta',
 'Mahesh Sarade',
 'Ameya Jain',
 'Prabir Kumar Satapathy',
 'Swati ',
 'Maitry ',
 'Rishav Dash',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Prerna Singh',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Shubham Sharma',
 'Sandipan Saha',
 'Mahak ',
 'Zeeshan ',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Harikrishnan Shaji',
 'Prateek _iot ',
 'Maneesh ',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Jawala Prakash',
 ...]

### 12 . percentage of chat on which they have received a feedback

In [38]:
df2['chat_per'] = (df2['Total Feedback'] / df2['Total Chats']) * 100

df2.head()

,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,date,date_week,date_days,avg_response_sec,avg_resolution_time_sec,chat_per
SL No,,,,,,,,,,,,,
1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30,30,38,260,81.818182
2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30,30,75,1705,63.636364
3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30,30,30,696,78.571429
4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30,30,64,946,50.000000
5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30,30,71,993,42.857143

### 13 . Total contributation hour for each and every agents weekly basis

In [39]:
#Unable to Solve// Having doubt

### 14. total percentage of active hour for a month

In [ ]:
#Unable to Solve// Having doubt